* {
    font-family: sans-serif;
}

header {
    position:absolute;
    background: rgb(99, 63, 23);
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
}

header h1 {
    flex-wrap: wrap;
    padding: 4px 4px 4px 3%;
    position: absolute;
    top: -10px;
    background: rgb(184, 171, 97);
    color: rgb(99, 63, 23);
}

header ul {
    list-style-type: none;
    text-align: right;
    padding: 10px;
    margin-right: 30px;
}

header li {
    display: inline;
    padding: 0 5px;
}
header a {
    color: rgb(184, 171, 97);
}

header img {
    position: absolute;
    width: 100%;
}

header h2 {
    position: absolute;
    background: rgb(184, 171, 97);
    right: 5%;
    /* bottom: ; */
    padding: 5px;
}
main {
    margin-top: 10px;
}

.background {
    background-image: url("../images/placeimg_800_200_nature.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    width: 100%;
}

.page-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}


.page-section > h1 {
    flex: 0 0 10%;
    text-align: right;
    padding-right: 1%;
    margin-right: 3%;
    border-right: 5px solid rgb(99, 63, 23);
    color: rgb(99, 63, 23);
    font-size: 235%;
}

.page-section > div {
    flex: 0 0 66%;
    margin: 2% 0;
}

.container {
   display: flex; 
   flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    flex-basis: 45%;
    border: rgb(184, 171, 97) solid;
    margin: 2%;
}

.card:nth-of-type(1){
    flex-basis: 100%;
}
