@media screen and (max-width: 992px) {}

:root {
    --lightestblue: #9cc1ec;
    --lightblue: #4c6ef5;
    --darkblue: #364fc7;
}

/* header */
#header {
    background: var(--lightblue);
    color: white;
    border: var(--darkblue) solid;
    text-align: center;
    margin: 0;
}

/* NavBar div */
#nav-div {
    display: table;
    margin: 0 0 10px 0;
    width: 100%;
}

/* NavBar Link */
.nav-link, .nav-link:visited, .nav-link:hover, .nav-link:active {
    margin: 0 4%;
    color: white;
    text-decoration: none;
    text-align: center;
}

.sct-title {
    color: var(--darkblue);
    margin-left: 2%;
}

#profile-pic-img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    width: 35%;
    border-radius: 50%;
}

#about-me-par-div {
    margin: auto 10%;
}

.work-div {
    position: relative;
    color: white;
    border: var(--darkblue) solid;
    margin: 5px auto;
}

.work-div div h3 {
    display: inline-block;
    margin: 20px;
    background: var(--lightblue);
    padding: 5px;
    border-radius: 5px;
}

.work-div div h4 {
    display: inline-block;
    font-weight: normal;
    margin: 5px 20px 20px 20px;
    background: var(--lightblue);
    padding: 5px;
    border-radius: 5px;
}

.work-div-btns {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#work-1-div {
    background-image: url('../images/thirsty-thursday-scrnsht.png');
    background-size: cover;
}

#work-2-div {
    background-image: url('../images/password-generator-scrnsht.png');
    background-size: cover;
}

#work-3-div {
    background-image: url('../images/code-quiz-scrnsht.png');
    background-size: cover;
}

#work-4-div {
    background-image: url('../images/thirsty-thursday-scrnsht.png');
    background-size: cover;
}

#work-5-div {
    background-image: url('../images/thirsty-thursday-scrnsht.png');
    background-size: cover;
}

#contact-title{
    text-align: center;
}

#contact-list{
    padding-left:0;
    list-style-type:none;
    list-style-position: inside;
    text-align: center;
}

.contact-li {
    margin: 10px auto;
}

.contact-link, .contact-link:visited, .contact-link:hover, .contact-link:active {
    margin: 0 4%;
    color: var(--lightblue);
    text-decoration: none;
    text-align: center;
}